@import "tailwindcss";

:root {
  --background: rgb(0, 0, 0);
  --foreground: #171717;
}

body {
  font-family: var(--font-noto-serif), serif;
}

a.sidebar-item:hover:not(.is-active) {
  background-color: var(--sidebar-hover) !important;
}